body{
  font-family: 'Times New Roman', Times, serif;
  background: rgb(190, 163, 110);
}
.form-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background:-moz-linear-gradient()